html{
    background-color:#504D4D;
}

.horizontalA{
    background-color:#FF2E63;
    height: 50px;
    width: 200px;
    margin: 0 auto;
    
}

#timer{
    color: white;
    font-size: 150px;
    margin: 0 auto;
    text-align: center;
}

#ao5{
    color: white;
    font-size: 50px;
}

#best{
    color: white;
    font-size: 50px;
}