html{
    background-color:#504D4D;
}

.body{
    height: 100%;
    width: 100%;
}

.table, td, th{
    width: 30%;
    color: white;
    text-align: center;
}

#timer{
    color: white;
    font-size: 150px;
    margin-top: 200px;
    text-align: center;
    font-family: lcd;
}

#timerBox{
    margin: 0 auto;
}

#ao5{
    color: white;
    font-size: 50px;
    float: left;
}

#best{
    color: white;
    font-size: 50px;
    text-align: center;
    
}


#solveBox{
    margin: 0 auto;
    height: 300px;
    width: 100%;
    background-color: black;
    overflow-y: scroll;
    overflow-x: hidden;
}

#results{
    color: white;
    display: inline-block;
    text-align: center;
    background-color: grey;
    height: 100%;
    width: 300px;
    right: 0px;
    top: 0px;
    position: fixed;
}

@font-face{
    font-family:lcd;
    src:url("lcd");
}